<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="demoAspect" class="cn.codeartist.spring.aop.xml.DemoAspect"/>
    <bean id="demoService" class="cn.codeartist.spring.aop.xml.DemoService"/>

    <aop:config>
        <aop:aspect ref="demoAspect">
            <aop:pointcut id="myPointcut" expression="execution(* cn.codeartist.spring.aop.xml.*.*(..))"/>
            <aop:before pointcut-ref="myPointcut" method="doBefore"/>
            <aop:after-returning pointcut-ref="myPointcut" method="doAfterReturning"/>
            <aop:around pointcut-ref="myPointcut" method="doAround"/>
            <aop:after pointcut-ref="myPointcut" method="doAfter"/>
            <aop:after-throwing pointcut-ref="myPointcut" method="doAfterThrowing"/>
        </aop:aspect>
    </aop:config>

    <bean id="beforeAdvice" class="cn.codeartist.spring.aop.advice.BeforeAdvice"/>

    <aop:config>
        <aop:advisor pointcut="execution(* cn.codeartist.spring.aop.xml.*.*(..))" advice-ref="beforeAdvice"/>
    </aop:config>

</beans>